{
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore"
}
